@import "node_modules/modern-normalize/modern-normalize.css";

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;
  background: url("./assets/pexels-virat-verma-468191852-27605793.jpg")
    no-repeat center center fixed;
  background-size: cover;
  background-color: linear-gradient(
    0deg,
    hsla(245, 50%, 20%, 1) 40%,
    hsla(256, 88%, 36%, 1) 79%
  );
}
