@import url("../node_modules/modern-normalize/modern-normalize.css");

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(255 255 255 / 87%);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;
  background: url("./assets/pexels-virat-verma-468191852-27605793.jpg")
    no-repeat center center fixed;
  background-size: cover;
  background-color: #000;
}
