@import url("../node_modules/modern-normalize/modern-normalize.css");

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #faf9f6;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #ffc41f;
  --logo-color: #908058;
  --main-white: #faf9f6;
  --main-border: 1px solid #faf9f6;
  --accent-border: 1px solid #ffc41f;
  --main-background: #32323233;
  --blured-backgound: #1313199c;
}

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;
  background: url("./assets/pexels-virat-verma-468191852-27605793.jpg")
    no-repeat center center fixed;
  background-size: cover;
  background-color: #000;
}
